.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.Footer h4{
    font-size: clamp(0.7rem, 1.3vw, 1.3rem);
}
.Social-Media-Icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    height: 7vh;
}
.Social-Icons{
    width: 2.3vw;
    height: 2.3vw;
    transition: all 0.4s ease-in-out;
}
.Social-Icons:hover{
    scale: 1.25;
}
.Footer p{
    font-size: clamp(.4rem, 0.7vw, .7rem);
}
@media screen and (max-width: 991px){
    .Social-Media-Icons{
        height: 8vh;
        width: 30vw;
    }
}
@media screen and (max-width: 768px) {
    .Social-Icons{
        height: 6vw;
        width: 6vw;
    }
}
@media screen and (max-width: 425px) {
    .Social-Media-Icons{
        height: 5vh;
        width: 40vw;
    }
    .Social-Icons{
        height: 8vw;
        width: 8vw;
    }
}